.app-container {
  width: 90%;
  margin: 20px auto;
  padding: 10px 30px 30px 30px;
  border-radius: 30px;
  box-shadow: 0px -5px 30px -21px rgba(0, 0, 0, 0.4);
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}
.app-container hr {
  opacity: .13;
}

.menu-bar {
  background-color: #f9f9f9 !important;
  margin: 0 auto;
  border-radius: 30px;
}

.menu-bar a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #606060;
  border-radius: 20px;
  padding: 0 6px;
  transition: all linear .2s;
}
.menu-bar a:hover, .menu-bar a.active {
  color: var(--text-light) !important;
  background: var(--main-color);
}

.menu-bar a .las {
  color: var(--color-dark);
  font-size: 2em;
  background: var(--text-light);
  border: 2px solid var(--text-light);
  border-radius: 30px;
}

.menu-bar a:hover .las, .menu-bar a.active .las {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: white;
}

.menu-bar .navbar-nav {
  gap: 1em;
}

.menu-bar .navbar-nav .nav-link {
  display: flex;
  flex-direction: row;
  gap: .5em;
  text-align: center;
  align-items: center;
}

.app-content {
  max-width: 94%;
  margin: 0 auto;
  border-radius: 20px;
}

.novo-cadastro-btn {
  color: white;
  font-weight: 600;
  background-color: var(--main-color);
}

.submit-button button {
  background-color: var(--main-color);
  color: white;
  padding: 0.47em 1em;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1.13em;
  font-family: 'Roboto', serif;
  font-weight: 800;
  cursor: pointer;
  position: relative;
}

.submit-button img.loading {
  height: 32px;
}