main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  padding: 0;
  padding-top: 2em;
  gap: 3em;
  background: #f9f9f9;
}

.header {
  max-width: 80%;
  text-align: center;
}
.header h1 {
  font-size: 2.7em;
}
.header p {
  margin: 1em 0;
  font-size: 1.7em;
}

.form-cadastro {
  width: 90%;
  max-width: 292px;
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
}

.form-cadastro .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.form-cadastro .form-group.form-button {
  align-items: center;
}

.form-cadastro .form-group label {
  font-size: 1.3em;
  font-weight: 800;
  color: var(--text-gray);
}

.form-cadastro .form-group p {
  font-size: 1.1em;
  font-weight: 800;
}
.form-cadastro .form-group a {
  color: var(--main-color);
}

.form-cadastro .form-group input {
  max-width: 100%;
  font-size: 1.35em;
  padding: 0.5em 0.79em;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  background: #f9f9f9;
  outline: none;
}

.form-cadastro .form-group button {
  width: 180px;
  font-size: 1.1em;
  font-weight: 800;
  padding: 0.6em 0;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  box-shadow: 1px 2px 7px -4px black;
  background: var(--main-color);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s linear;
}

.form-cadastro .form-group button img {
  width: 24px;
}

.footer {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
}
.footer p {
  text-align: center;
  margin-bottom: 1em;
}
.footer a {
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  main {
    padding: 3em 1.5em 0em 1.5em;
  }

  .header h1 {
    font-size: 3.5em;
  }

  .header p {
    margin: .5em 0;
    font-size: 1.7em;
  }
}