.feira {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.feira .feirante {
  background: #fcfcfc;
  border-radius: 30px;
}

.feira .feirante .minicards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feira .feirante .minicards .card-single {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feira .feirante .minicards .card-single {
    width: calc(100% / 3.2);
  }
}

.feira .informacoes {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.feira .informacoes .detalhes-feira {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.feira .detalhes-feirantes ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-top: 1em;
}

.feira .detalhes-feirantes ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 0 0.2em;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--color-dark);
  border-bottom: 6px solid var(--main-color);
}

.venda,
.configuracao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background: #f9f9f9;
  padding: 1.5em 1.3em;
  border-radius: 13px;
  background: red;
}

.venda .form-view {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
}

.extrato h1,
.venda h1,
.configuracao h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.venda .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.configuracao .form-group {
  gap: 1em;
}

.configuracao .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.configuracao .form-group label {
  text-align: center;
}
.configuracao .form-group img {
  margin: 0 auto;
}

.configuracao .form-group p {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--main-color);
}

.configuracao .form-view {
  text-align: left;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.configuracao .form-view button {
  margin: 0 auto;
}

.form-group input {
  border-radius: 6px;
}

.form-group select {
  border-radius: 6px;
}

.extrato {
}

.extrato .form-view {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.detalhamento ul,
.resumo ul {
  min-width: 380px;
  display: flex;
  flex-direction: row;
  gap: 3em;
  font-size: 1.2em;
}
.detalhamento ul li,
.resumo ul li {
  width: 182px;
  background: #f1f1f1;
  padding: 0.7em 1em 1em 0.7em;
  border-radius: 6px;
}
