.feira {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.feira .feirante {
  background: #fcfcfc;
  border-radius: 30px;
}

.feira .feirante .minicards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feira .feirante .minicards .card-single {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feira .feirante .minicards .card-single {
    width: calc(100% / 3.2);
    
  } 
}

.feira .informacoes {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.feira .informacoes .detalhes-feira {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.feira .detalhes-feirantes ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-top: 1em;
}

.feira .detalhes-feirantes ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3em;
  padding: 0 .2em;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--color-dark);
  border-bottom: 6px solid var(--main-color);
  
}

.venda {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: #f9f9f9;
  padding: 1.5em 1.3em;
  
  border-radius: 13px;
}

.venda h1 {
  display: flex;
  justify-content: space-between;
}

.venda .form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  border-radius: 6px;
}

.form-group select {
  border-radius: 6px;
}