main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-top: 70px;
  padding: 2em 1.5em;
  background: #f9f9f9;
}

main .gente .sem-dados {
  background: red;
  padding: 2em 0;
  background: #f9f9f9;
  border-radius: 30px;
  font-weight: 700;
  color: var(--text-gray);
}

.lista-gente {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
  background: #f9f9f9;
  border-radius: 30px;
}

.card-gente {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  background-color: #fefefe;
  border-radius: 30px;
}

.card-gente-header {
  display: flex;
  flex-direction: column;
}

.card-gente-header img {
  width: 128px;
  border-radius: 50%;
  margin: 0 auto;
}

.card-gente-header .gente-header-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  padding: 1em 0;
}

.gente-header-info span {
  background: var(--green);
  color: white;
  font-size: 0.75em;
  font-weight: 800;
  padding: 0.2em 0.6em;
  border-radius: 30px;
}

.card-gente-body {
  display: flex;
  flex-direction: column;
}

.card-gente-body a { 
  text-align: center;
  color: var(--color-dark);
}
.card-gente-body h2 {
  margin: 0 auto;
}

.card-gente-body .gente-body-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4em;
  margin: .5em 0 0 0;
  padding: .7em 1em;
  font-size: 0.9em;
  font-weight: 700;
  color: var(--text-gray);
  background-color: #fdfdfd;
  border-radius: 6px;
}

.card-gente-body .gente-body-info input#celular {
  text-align: center;
  font-size: 1em;
  background-color: transparent;
  color: var(--main-color);
  border: none;
  outline: none;
}
