.form-financeiro {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-financeiro .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.tipo-operacao {
  display: flex;
  justify-content: start;
  font-size: 1.4em;
  gap: 1em;
  padding: 0.7em 0.3em;
  border-radius: 2em;
}

.tipo-operacao .operacao {
  display: flex;
  gap: 0.3em;
  cursor: pointer;
}
.tipo-operacao input[type='radio'] {
  visibility: hidden;
}

.tipo-operacao input[type='radio'] ~ label {
  min-width: 120px;
  padding: 0.3em 0.7em;
  border-radius: 2em;
  font-weight: 700;
  text-align: center;
  color: var(--text-gray);
  cursor: pointer;
}

.tipo-operacao input[type='radio'] ~ label {
  background: #e1e1e1;
}

.tipo-operacao input[type='radio']:checked ~ label {
  color: white;
}

.tipo-operacao input[type='radio']:checked ~ label#label-tipo-entrada {
  background: var(--green);
}
.tipo-operacao input[type='radio']:checked ~ label#label-tipo-saida {
  background: #d32f2f;
}

.referencia-perfil {
  padding: 0.5em;
  color: var(--text-gray);
  background: #e1e1e1;
  border-radius: 6px;
  cursor: pointer;
}

.referencia-perfil span {
  color: #363636;
  font-size: 0.8em;
  margin: 0 0 10px 0;
  display: block;
}

.referencia-perfil span:hover {
  color: var(--main-color)
}
