.form-calendario {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form-calendario .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.tipo-evento {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  font-size: 1.4em;
  gap: 0.79em;
  padding: 0;
  border-radius: 2em;
}

.tipo-evento .evento {
  display: flex;
  gap: 0.3em;
  cursor: pointer;
}
.tipo-evento input[type='radio'] {
  visibility: hidden;
  position: absolute;
}

.tipo-evento input[type='radio'] ~ label {
  width: fit-content;
  padding: 0.3em 0.7em;
  border-radius: 2em;
  font-weight: 700;
  text-align: center;
  color: var(--text-gray);
  cursor: pointer;
}

.tipo-evento input[type='radio'] ~ label {
  background: #e1e1e1;
}

.tipo-evento input[type='radio']:checked ~ label {
  color: white;
  background: var(--main-color);
}

.detalhes-trabalho {
  background: #ededed;
  padding: 1em 1.3em;
  border-radius: 0.3em;
  gap: 1em;
}

.detalhes-trabalho h2 {
  margin: 0.3em 0 0.7em 0;
}

.detalhes-trabalho .form-group {
  display: flex;
  flex-direction: row;
}

.detalhes-trabalho .observacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: center;
  align-content: center;
  padding: 1em 0 2em 0;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.2em;
  color: var(--text-gray);
}

.detalhes-feira {
  background: #ededed;
  padding: 1em 1.3em;
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 1em;
}

.detalhes-feira div {
  width: 45%;
  min-width: 300px;
}

.detalhes-feira div ul.busca-feirantes {
  display: flex;
  flex-direction: row;
  gap: .5em;
  flex-wrap: wrap;
  padding: .5em 0;
}

.detalhes-feira div ul.lista-feirantes {
  display: flex;
  flex-direction: row;
  gap: .5em;
  flex-wrap: wrap;
}

.detalhes-feira div ul li.badge {
  background-color: var(--main-color);
  max-width: 100%;
  padding: .15em .7em .15em .35em;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: .5em;
}

.detalhes-feira div ul li.badge img {
  border-radius: 30px;
}

.detalhes-feira div ul li.badge svg {
  width: 20px;
  fill: #f9f9f9;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .detalhes-trabalho .observacoes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

input[type='checkbox'] {
  width: 20px;
}

.detalhes-trabalho .observacoes input[type='checkbox']:checked ~ label {
  color: var(--main-color);
}
