main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0 auto;
  background: #f9f9f9;
}

.header {
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
}

.header img {
  width: 128px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  margin: 4em auto 0 auto;
}

.header h1 {
  max-width: 320px;
  font-size: 2.6em;
  text-align: center;
  margin: 0 auto;
}

.header p {
  font-size: 26px;
}

.header a {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 800;
  border-bottom: 3px solid var(--main-color);
  padding: 5px 0 6px 0;
}

.cards-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.meu-perfil.cards {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header h1 {
    max-width: 500px;
  }

  .cards-content {
    flex-direction: row;
  }

  .meu-perfil.cards {
    width: 50%;
    flex-direction: column;
  }
}

.meu-perfil .group {
  width: 100%;
  height: fit-content;
  gap: 1em;
  padding-bottom: 3em;
}

.meu-perfil .group .group-header {
  width: 100% !important;
  padding: 0px 0 10px 0;
  border-bottom: 2px solid #e9e9e9;
  color: #323232;
}

.meu-perfil .field-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.meu-perfil .field {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.meu-perfil .field-bio {
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.meu-perfil .field #email {
  line-break: anywhere;
}

.meu-perfil .field .profissao {
  width: 100%;
}

.meu-perfil .field label {
  margin: 10px 0;
  font-size: 1.1em;
  font-weight: 800;
  color: var(--text-gray);
}

.meu-perfil .field p {
  width: 100%;
  font-size: 1.35em;
  padding: 5px 10px;
}

.meu-perfil .field-bio p {
  width: 100%;
  height: 78px;
  font-size: 1.15em;
  padding: 5px 10px;
}